body {
  font-family: 'Inter', sans-serif;
}

.text-accent {
  color: #e54c4c; /* Akzentfarbe */
}

.btn-accent {
  background-color: #e54c4c;
  color: white;
  border-radius: 30px;
  padding: 0.5rem 1.5rem;
  transition: 0.3s;
}

.btn-accent:hover {
  background-color: #c94141;
  color: #fff;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
}

.footer-link:hover {
  color: #e54c4c;
}

.image-container {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f0f0f0;
}

.image-container img {
  object-fit: none;
  object-position: center;
  max-width: none;
  max-height: none;
}

#specialbanner {
  background-color: #e54c4c;
  color: white;
}

.navbar-nav .nav-link:hover {
    color: #e54c4c !important;
}